body {
    background-image: url("../images/BGTime-Management.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#header {
    height: 80px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Arial Black";
    text-shadow: 6px -3px  black;
    color: white;

}

.container{
    width: 800px;
    text-shadow: 4px -2px black;
    float: left;
    font-weight: bold;
    font-size: large;
    font-family: "Arial Black";
    color: whitesmoke;
}

.activity {
    text-align: center;
    display: inline-block;
    margin: 1em;
    border: 5px solid black;
    border-radius: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
    height: 170px;
    width: 300px;
    overflow: hidden;
}


#work {
    background-image: url("../images/work.jpg");
}
#relax {
    background-image: url("../images/relaxation2.jpg");
}
#family {
    background-image: url("../images/familly.jpg");
}
#sleep {
    background-image: url("../images/sleep.jpg");
}

#buttons

.footer {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    float: bottom;
}