
body {
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#header {
    background:  url(../images/header.jpg);
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Bookman Old Style";

}

.activity {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 200px;
    margin-left: 100px;
    margin-top: 10px;
    padding: 5px;
    height: 100px;
    width: 300px;
}

#work {
    background-image: url("../images/work.jpg");
}
#relax {
    background-image: url("../images/relaxation2.jpg");
}
#family {
    background-image: url("../images/familly.jpg");
}
#sleep {
    background-image: url("../images/sleep.jpg");
}

#buttons
